.page {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin-left: auto;
    margin-right: auto;
   text-align: center;
}

.page-header {
    margin-top: 31.5px;
    margin-bottom: 31.5px;
}



.menu-item {
display: inline-block;
margin-right: 68px;

}

.menu-list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.menu-link {
    width: 68px;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-transform: uppercase;
color: #FF0000;
}

.info-header {
    width: 774px;
    left: 253px;
top: 48px;
font-weight: 700;
font-size: 22px;
text-transform: uppercase;
color: #373737;
margin-left: auto;
    margin-right: auto;
}

.info-text {
    width: 1145px;
    left: 67.5px;
top: 115px;
font-weight: 400;
font-size: 16px;
text-align: center;
color: #373737;
margin-left: auto;
    margin-right: auto;

}

.info-button {
  
font-weight: 700;
font-size: 12px;

text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
    background-color: #FF0000;
    padding: 18px 43px;
    

}
.button-wrapper {
    text-align: center;
    margin-top: 84px;
}

.page-footer {
 
    left: 608px;font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    margin-top: 82px;
    margin-right: 105px;
    
}
.footer-text {
    text-align: end;
}
